@font-face
{
    font-family: 'Majoris';
    src: url('./fonts/Majoris.ttf');
    font-weight: normal;  
    font-style: normal;  
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,100&family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700;800;900');